{% extends 'template.twig' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="offset-m3 center block col s12 m6">
                <div class="card third-color">
                    <div class="card-content white-text">
                        <span class="card-title">Login</span>
                        <form class="" action="index.php?page=login" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="pseudo" type="text" class="validate" name="pseudo" value="{{
                            request.form.username }}">
                                    <label for="pseudo">Pseudo</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">security</i>
                                    <input id="password" type="password" class="validate" name="password" value="{{
                            request.form.password }}">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <input class="btn btn-default" type="submit" name="login" value="Login">
                            </div>
                        </form>
                    </div>
                    <div class="card-action  white-text">
                        <p>Not a member?
                            <a href="index.php?page=register">SIGN UP HERE</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}