/*****
    GENERAL
*****/
* {
    outline: none;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.center {
    margin: 0 auto;
}

.no-margin {
    margin: 0 !important;
}

.style-background {
    background-color: #282828;
}

h1 {
    color: white;
}

body {
    background: #282828 url("../images/bg_login.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.container {
    margin-top: 20px;
}

.btn {
    background-color: #74b9ff;
}

.btn:hover {
    background-color: #0984e3;
}

input {
    color: white;
}

/*****
    SPAN (for profile)
*****/
span.badge.new {
    color: #000;
    background-color: #D92579;
    border-radius: 10px;
}

/*****
    LOGO
*****/
#logo-text {
    margin-left: 10px;
    background-image: url("../images/logo.png"), none;
    background-size: cover;
    width: 75px;
    height: 75px;
}

@media only screen and (max-width: 992px) {
    #logo-text {
        margin-top: 10px;
        margin-left: 50px;
        width: 80px;
        height: 35px;
    }
}

/**
    NAV
*/
nav {
    background-color: #74b9ff;
}

.page-footer {
    background-color: #74b9ff;
}

/**
    COLORS
*/

.main-color {
    background-color: #0984e3;
}

.second-color {
    background-color: #74b9ff;
}

.third-color {
    background-color: #2d3436;
}

/**
    DATEPICKER
*/

.datepicker-date-display {
    background-color: #0984e3;
}

.datepicker-day-button {
    color: black;
}

.datepicker-table td.is-today button {
    color: #0984e3;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #74b9ff;
}

.datepicker-table td.is-selected {
    background-color: #74b9ff;
}

.timepicker-digital-display {
    background-color: #0984e3;
}

/*****
    SERACH OPTIONS
*****/
.collapsible {
    font-size: 15px;
}

.collapsible-header {
    color: black;
    font-size: 15px;
}

.collapsible-body .btn a {
    color: white;
}